#mainPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#otherContent {
  height: 85vh;
  background-color: #E9EBEE;
}

.introText {
  font-size: 400%;
  margin-bot: 10%;
  text-align: center;
  justify-content: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  color: #94AEBF;
}

@media only screen and (min-width: 320px){
  #otherContent {
    height: 70vh;
  }

  #formContainer {
    display: flex;
    flex-direction: column;
    height: 30vh;
    padding: 2%;
    text-align: center;
    background: #120F23;
    justify-content: center;
    align-items: center;
  }

  #container {
    width: 90%;
  }

  #congratsContainer {
    width: 70%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0.5em;
  }

  #formTitle {
    display: inline;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 125%;
    font-size: 95%;
    text-align: left;
    color: #94AEBF;
    align-self: flex-start;
  }

  #congratsTitle {
    display: inline;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 125%;
    font-size: 130%;
    text-align: center;
    color: #94AEBF;
    width: 90%;
    align-self: flex-start;
    margin-bottom: 0%;
  }

  #minorText {
    display: inline;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 125%;
    font-size: 100%;
    text-align: center;
    color: #94AEBF;
    align-self: flex-start
  }

  #inputForm {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0.5em;
  }

  #nameForm {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0.5em;
  }

  #formField {
    background: #2A2739;
    mix-blend-mode: normal;
    border-radius: 5px;
    border-color: transparent;
  }

  #nameField {
    background: #2A2739;
    mix-blend-mode: normal;
    border-radius: 5px;
    border-color: transparent;
  }

  #checkAgreement {
    margin-left: 6%;
    padding-top: 0.5em;
    display: flex;
    text-align: center;
     flex-direction: row;
    justify-content: center;
    width: 80%;
    flex-basis: 10em;
    align-content: center;
  }

  .agreement {
    text-align: left;
    width: 250px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 10%;
    color: #888888;
    margin-left: 0.5vw;
    display: block;
    word-wrap: break-word;
  }

  input[name=email] {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    height: 2em;
    color: #FFFFFF;
    opacity: 0.5;
    mix-blend-mode: normal;
    border-radius: 2px;
    width: 88%;
  }

  input[name=firstName] {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    height: 2em;
    color: #FFFFFF;
    opacity: 0.5;
    mix-blend-mode: normal;
    border-radius: 2px;
    width: 42%;
  }

  input[name=lastName] {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    height: 2em;
    color: #FFFFFF;
    opacity: 0.5;
    mix-blend-mode: normal;
    border-radius: 2px;
    width: 42%;
  }

  ::placeholder {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    font-size: 16px;
    padding-left: 10px;
    color: #FFFFFF;
    opacity: 0.5;
    mix-blend-mode: normal;
  }

  .button {
    width: 78vw;
    background-color: #ED1F34;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    margin-left: 0px;
    cursor: pointer;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    height: 2.5em;
    margin-top: 1em;
  }

  .finalButton {
    width: 78vw;
    background-color: #ED1F34;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    margin-left: 0px;
    cursor: pointer;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    height: 2.5em;
    margin-top: 1em;
  }
}

@media only screen and (min-width: 700px){
  #otherContent {
    height: 85vh;
  }

  #formContainer {
    display: flex;
    flex-direction: column;
    height: 15vh;
    padding: 2%;
    text-align: center;
    background: #120F23;
    justify-content: center;
    align-items: center;
  }

  #container {
    width: 60%;
  }

  #congratsContainer {
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0.5em;
  }

  #formTitle {
    display: inline;
    position: absolute;
    bottom: 12%;
    left: 27%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 200%;
    margin-right: 0;
    text-align: left;
    color: #94AEBF;
    align-self: flex-start;
  }

  #congratsTitle {
    display: inline;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 125%;
    font-size: 130%;
    text-align: center;
    color: #94AEBF;
    width: 90%;
    align-self: center;
    margin-bottom: 0%;
  }

  #minorText {
    display: inline;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 125%;
    font-size: 100%;
    text-align: center;
    color: #94AEBF;
    align-self: center;
  }

  #inputForm {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  #nameForm {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .formField {
    background: #2A2739;
    mix-blend-mode: normal;
    border-radius: 5px;
    border-color: transparent;
  }

  input[name=email] {
    width: 35vw;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    height: 1.5em;
    color: #FFFFFF;
    opacity: 0.5;
    mix-blend-mode: normal;
    border-radius: 2px;
  }

  input[name=firstName] {
    width: 15vw;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    height: 1.5em;
    color: #FFFFFF;
    opacity: 0.5;
    mix-blend-mode: normal;
    border-radius: 2px;
    margin-right: 1em;
  }

  input[name=lastName] {
    width: 15vw;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    height: 1.5em;
    color: #FFFFFF;
    opacity: 0.5;
    mix-blend-mode: normal;
    border-radius: 2px;
    margin-right: 0.5em;
  }

  ::placeholder {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    font-size: 24px;
    color: #FFFFFF;
    opacity: 0.5;
    mix-blend-mode: normal;
  }

  .button {
    width: 11vw;
    background-color: #ED1F34;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    margin-left: 10px;
    cursor: pointer;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75em;
    height: 3.25em;
  }

  .finalButton {
    width: 13vw;
    background-color: #ED1F34;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    margin-left: 10px;
    cursor: pointer;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75em;
    height: 3.3em;
    margin-bottom: 0.1em;
  }

  #checkAgreement {
    margin-left: 9%;
    padding-top: 0.5em;
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: left;
    width: 80%;
    flex-basis: 10em;
    align-content: center;
  }

  input[type=checkbox] {
    margin-right: 0;
  }

  .agreement {
    text-align: left;
    width: 55%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 65%;
    color: #888888;
    margin-left: 0.75vw;
    display: block;
    word-wrap: break-word;
  }
}
